{% block body %}
	<style>
		.dropdown-menu {
			position: absolute;
			inset: 0 auto auto 0;
			margin: 0;
			transform: translate3d(0px, 42.4px, 0px);
		}
		.test {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 400px;
		}
	</style>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
var dropdownToggle = document.getElementById("dropdownToggle");
var dropdownMenu = document.querySelector(".dropdown-menu");

dropdownToggle.addEventListener("click", function () {
dropdownMenu.classList.toggle("show");
});
});
	</script>
	<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('images/assets/bitchest_logo.png') }}" style="width: 105px;" alt="Logo"></a>
			{# <a class="navbar-brand" href="#">BitChest App</a> #}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul
					class="navbar-nav me-auto">
					{# <li class="nav-item">
																<a class="nav-link active" href="/">Home
																	<span class="visually-hidden">(current)</span>
																</a>
															</li> #}
					{% if app.user %}
						{% if is_granted('ROLE_ADMIN') %}
							{# Si l'utilisateur a le rôle ADMIN, n'affichez pas le bouton #}
							{# Vous pouvez également ajouter d'autres conditions ici si nécessaire #}
						{% else %}
							<li class="nav-item">
								<a class="nav-link active" href="{{ path('app_wallet') }}">Wallet
									<span class="visually-hidden">(current)</span>
								</a>
							</li>
						{% endif %}
					{% endif %}

					{% if app.user %}
						<li class="nav-item dropdown">
							<a id="dropdownToggle" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('images/man.png') }}" style="width: 25px;" alt="Dropdown"></a>
							<div class="dropdown-menu" data-popper-placement="bottom-start">
								<h6 class="dropdown-header">
									<a href="{{path('user.profil', {'id': app.user.id})}}">{{app.user.fullName}}</a>
								</h6>
								<a class="dropdown-item" href="{{ path('user.edit', {'id': app.user.id}) }}">EDIT PROFIL</a>
								<a class="dropdown-item" href="{{ path('user.edit.password', {'id': app.user.id}) }}">EDIT PASSWORD</a>
								{% if is_granted('ROLE_ADMIN') %}
									<a class="dropdown-item" href="{{ path('users.display') }}">Users Settings</a>
								{% endif %}

								{% if is_granted('ROLE_ADMIN') %}
									{# Si l'utilisateur a le rôle ADMIN, n'affichez pas le bouton #}
									{# Vous pouvez également ajouter d'autres conditions ici si nécessaire #}
								{% else %}
									<a class="dropdown-item" href="{{ path('app_wallet') }}">My Wallet</a>
								{% endif %}

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href={{ path('security.logout') }}>LOGOUT</a>
							</div>
						</li>
					{% endif %}
				</div>
				{% if app.user %}
					<div class="test">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">
								<a type="button" class="btn btn-info" href="{{ path('crypto_list') }}">Crypto
								</a>
							</li>
						</ul>

						{% if is_granted('ROLE_ADMIN') %}
							{# Si l'utilisateur a le rôle ADMIN, n'affichez pas le bouton #}
							{# Vous pouvez également ajouter d'autres conditions ici si nécessaire #}
						{% else %}
							<ul class="navbar-nav me-auto ">
								<li class="nav-item ">
									<a type="button" class="btn btn-info " href="{{ path('app_wallet') }}">Solde :
										{{ app.user.wallet.solde }}
										€</a>
								</li>
							</ul>
							<ul>
								<li class="nav-item ">
									<a type="button" class="btn btn-info " href="{{ path('crypto_buy') }}">Buy Crypto</a>
								</li>
							</ul>
						</div>
					{% endif %}
				{% endif %}
			</div>
		</nav>
	{% endblock %}
