<style></style>
<script src="https://kit.fontawesome.com/b99e675b6e.js">

	document.addEventListener("DOMContentLoaded", function () {
var dropdownToggle = document.getElementById("dropdownToggle");
var dropdownMenu = document.querySelector(".dropdown-menu");

dropdownToggle.addEventListener("click", function () {
dropdownMenu.classList.toggle("show");
});
});
</script>

{% block body %}
	<h2>
		<a class="navbar-brand" href="{{ path('app_home') }}">
			<img src="{{ asset('images/assets/bitchest_logo.png') }}" style="width: 105px;" alt="Logo">
		</a>
	</h2>
	<ul>
		{% if app.user %}
			<li>
				<a href="{{path('user.profil', {'id': app.user.id})}}">
					<i class="fas fa-user"></i>Profile</a>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('users.display') }}">
						<i class="fas fa-address-card"></i>Users List</a>
				</li>
			{% endif %}
			{% if not is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('app_wallet') }}">
						<i class="fas fa-wallet"></i>My Wallet</a>
				</li>
			{% endif %}
			<li>
				<a href="{{ path('crypto_list') }}">
					<i class="fas fa-chart-line"></i>Crypto</a>
			</li>
			{% if not is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('app_wallet') }}">
						<i class="fas fa-euro-sign"></i>Solde :
						{{ app.user.wallet.solde }}
						€</a>
				</li>
				<li>
					<a href="{{ path('user.transactions', { 'id': app.user.id }) }}">
						<i class="fas fa-coins"></i>Transactions</a>
				</li>
				<li>
					<a href="{{ path('crypto_buy') }}">
						<i class="fas fa-credit-card"></i>Buy Crypto</a>

				</li>
				<li>
					<a href="{{ path('crypto_sell') }}">
						<i class="fas fa-map-pin"></i>Sell Crypto</a>
				</li>
			{% endif %}
			<li>
				<a href={{ path('security.logout') }}>
					<i class="fas fa-chevron-left"></i>LOGOUT</a>
			</li>
		{% endif %}
	</ul>

{% endblock %}
