{% extends 'base.html.twig' %}

{% block title %}BitChest!
{% endblock %}

{% block body %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<div class="jumbotron">
			{% if not app.user %}
				<h1 class="display-4">Hello, Bienvenue sur BitChest App ✅
				</h1>
				<hr class="my-4">
			{% endif %}
			{% if app.user %}
				<h2>
					{% if is_granted('ROLE_ADMIN') %}
						Admin
					{% endif %}
					{{ app.user.fullName }}
					✅
				</h2>
			{% endif %}

			{% for message in app.flashes('name') %}
				<div class="card border-success mb-3" style="max-width: 26rem;">
					<div class="card-header">User Created</div>
					<div class="card-body">
						<p class="card-text">{{ message }}</p>
					</div>
				</div>
			{% endfor %}
			{% for message in app.flashes('email') %}
				<div class="card border-success mb-3" style="max-width: 26rem;">
					<div class="card-body">
						<p class="card-text">{{ message }}</p>
					</div>
				</div>
			{% endfor %}
			{% for message in app.flashes('password') %}
				<div class="card border-success mb-3" style="max-width: 26rem;">
					<div class="card-body">
						<p class="card-text">{{ message }}</p>
					</div>
				</div>
			{% endfor %}
			{% for message in app.flashes('updateProfilSuccess') %}
				<div class="alert alert-dismissible alert-success">
					<strong>{{message}}</strong>
				</div>
			{% endfor %}
			{% for message in app.flashes('buysuccess') %}
				<div class="alert alert-dismissible alert-success">
					<strong>{{message}}</strong>
				</div>
			{% endfor %}
			{% for message in app.flashes('buyerror') %}
				<div class="alert alert-dismissible alert-danger">
					<strong>{{message}}</strong>
				</div>
			{% endfor %}


			{% for message in app.flashes('updatePasswordSuccess') %}
				<div class="alert alert-dismissible alert-success">
					<strong>{{message}}</strong>
				</div>
			{% endfor %}


			{% if not app.user %}
				<p>Rendez-vous sur la page de connexion pour utiliser l'application
				</p>
				<p class="lead">
					<a class="btn btn-primary btn-lg" href="/login" role="button">Se connecter
					</a>
				</p>
			{% endif %}
			<p class="lead">
				{% if is_granted('ROLE_ADMIN') %}
					<p>Create a new User</p>
					<a class="btn btn-primary btn-lg" href="{{ path('security.register') }}" role="button">Create</a>
					<p class="mt-4">List of the Users of BitChest</p>
					<a class="btn btn-primary btn-lg" href="{{ path('users.display') }}" role="button">Show</a>
				{% endif %}
			</p>
		</div>
	</div>
{% endblock %}
