{% extends 'base.html.twig' %}

{% block title %}Liste des Cryptomonnaies
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}

		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		li {
			list-style-type: none;
		}

		.crypto-chart {
			margin-top: 1em;
		}
	</style>

	<div class="example-wrapper">
		<h1>Liste des Cryptomonnaies</h1>

		{% for crypto in cryptos %}
			<h2 class="mt-4">{{ crypto.name }}
				- Cours actuel :
				<strong>{{ crypto.currentPrice }}</strong>
			</h2>
			<div class="crypto-chart mt-4">
				<canvas id="{{ crypto.name|lower }}Chart" width="900" height="400"></canvas>
				<script>
					var ctx = document.getElementById('{{ crypto.name|lower }}Chart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'line',
data: {
labels: [{% for date, price in crypto.dailyPrices %}"{{ date }}",{% endfor %}],
datasets: [
{
label: 'Cours de la journée',
data: [{% for date, price in crypto.dailyPrices %}{{ price }},{% endfor %}],
backgroundColor: 'rgba(255, 99, 132, 0.2)',
borderColor: 'rgba(255, 99, 132, 1)',
borderWidth: 1
}
]
},
options: {
scales: {
y: {
beginAtZero: true
}
}
}
});
				</script>
			</div>
		{% endfor %}
	</div>
{% endblock %}
