{% extends 'base.html.twig' %}

{% block title %}Users
{% endblock %}

{% block body %}

	<style>
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.center-text {
			text-align: center;
		}
		.count {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			width: 95%;
		}
		.count a {
			font-size: 16px;
			width: 150px;
		}
		.jumbotron {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.table th {
			vertical-align: middle;
			text-align: center;
		}
		.table td {
			vertical-align: middle;
			text-align: center;
		}
	</style>

	<div class="example-wrapper">
		<div class="jumbotron mt-4">
			<div class="center-text">
				<h2>ADMIN
					{{ app.user.fullName }}
					✅</h2>
				<p class="lead entete">Voici la liste de tous les utilisateurs de BitChest</p>
			</div>
			<div class="count">
				<div>
					Number of Users of BitChest :
					<strong>{{ users.getTotalItemCount }}</strong>
				</div>
				<a class="btn btn-primary btn-lg" href="/register" role="button">Create User</a>
			</div>
			{% for message in app.flashes('deleteUserSuccess') %}
				<div class="alert alert-dismissible alert-success">
					<strong>{{message}}</strong>
				</div>
			{% endfor %}
			<table class="table table-hover mt-4">
				<thead>
					<tr>
						<th scope="col">ID user</th>
						<th scope="col">Full Name</th>
						<th scope="col">Email</th>
						<th scope="col">Solde</th>
						<th scope="col">Transactions</th>
						<th scope="col">Edit Profil</th>
						<th scope="col">Edit Passwords</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							{# <th scope="row">Default</th> #}
							<td>{{ user.id }}</td>
							<td>{{ user.fullName }}</td>
							<td>{{ user.email }}</td>
							<td>
								{% if user.wallet is not null %}
									{{ user.wallet.solde }}
								{% else %}
									ADMIN ⭐
								{% endif %}
							</td>
							<td>
								{% if user.wallet is not null %}
									<a class="btn btn-info" href="{{ path('user.transactions', { 'id': user.id }) }}">Transactions</a>
								{% else %}
									ADMIN ⭐
								{% endif %}
							</td>
							<td>
								<a class="btn btn-info" href="{{ path('user.edit', { 'id': user.id }) }}">Edit</a>
							</td>
							<td>
								{# Ajout de la colonne Action contenant le bouton "Modifier" #}
								<a class="btn btn-info" href="{{ path('user.edit.password', { 'id': user.id }) }}">Edit</a>
							</td>
							<td>
								<a class="btn btn-warning" href="{{ path('user.delete', { 'id': user.id }) }}">Delete</a>
								{# Ajout de la colonne Action contenant le bouton "Modifier" #}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="navigation" style="margin: 0 auto;">
				{{ knp_pagination_render(users) }}
			</div>
		</div>
	</div>
{% endblock %}
